/target/
/build/
/.gradle/
/.paper-nms/
.vscode/settings.json
lib/deepwither-1.0-SNAPSHOT.jar
.DS_Store
*.iml
.idea/
/bin/
/gradlew
/gradlew.bat
/deepwither-zed-extension/target/
/deepwither-zed-extension/server/target/
